body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f2f2f2;
    font-family: Arial, sans-serif;
}

.calculator {
    background: #222;
    padding: 20px;
    border-radius: 10px;
    width: 260px;
}

#display {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    font-size: 22px;
    text-align: right;
    padding-right: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #ddd;
}

.zero {
    grid-column: span 2;
}
.fun-btn {
    padding: 12px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;
}

.popup {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    position: relative;
}

.popup img {
    max-width: 300px;
    border-radius: 10px;
}

.close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}
